*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 200vh;
    background-image: url("https://img.freepik.com/free-vector/watercolour-background-with-leaves_91008-314.jpg?w=2000") ;
} 

nav{
    display:flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 13px;
}

nav ul li a{
    text-decoration: none ;
    color: darkblue;
    font-weight: bold;
}

nav ul li a:hover{
    color:darkkhaki;
}
.matieres__container ul {
    gap: 0.5rem;
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style: none;
    margin-right: 10rem;
    
    
}


.matieres__content{
    margin-top: 30px;
    margin-left: 170px;
    margin-right: 50px;
    max-width: 300px;
    background-color: #d7ad144e;
    /*background-color: rgb(188, 213, 236);*/
    /*background-image: linear-gradient(to bottom, rgba(197, 187, 130, 0.318), rgba(93, 109, 255, 0.323));*/
    border-radius: 5%;
    transition: .3s ;
    padding: 3.5rem 1rem 1.25rem 7rem;

    
}
.matieres__modal-content ul{
    grid-template-columns: repeat(1,1fr)

}


.matieres__modal ul li{
    list-style:circle;
    color:#5b7581 ;
    margin: 10px 0 ;
    font-weight: 600;
    
    
}
.matieres__content:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,15);
}
.matieres__icon{
    display: block;
    font-size: 1.5rem;
    margin-bottom:  1rem; 
}
.matieres__title{
    font-size: 1.125rem ;
    margin-bottom: 1rem ;
    margin-left: 1rem;
    font-weight: 100 ;
    color: rgb(12, 31, 117);
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}